/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body */
  html, body {
    height: 100%;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #fff, #91021E, #1647A2); 
    color: #fff;
    display: flex;
    flex-direction: column;
  }
  
  /*--------------------------- HEADER ---------------------------*/
  header {
    width: 100%;
    padding: 20px 40px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* Brand */
  .brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
  }
  
  /* Main Navigation Styling */
  nav {
    position: relative;
  }
  .main-nav-wrapper {
    border: 2px solid rgba(165, 165, 165, 0.8); 
    border-radius: 50px; 
    padding: 5px 20px; 
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    list-style: none;
    gap: 25px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
  }
  
  /* Auth Navigation Styling */
  .auth-nav {
    display: flex;
    list-style: none;
    gap: 10px;
  }
  
  .auth-nav a {
    text-decoration: none;
    font-weight: 600;
    color: #000;
  }
  
  .auth-nav .signup-btn {
    padding: 5px 20px;
    border-radius: 50px;
    background: linear-gradient(to right, #91021E,#29083D,#1647A2 );
    color: #fff;
  }

  #auth-button.logged-in {
    background: none;
    color: #000;
    font-size: 1.2em;
    padding: 0;
  }
  
  /* Hover, Sign up */
  .auth-nav a:hover, .main-nav a:hover {
    opacity: 0.8;
  }
  
  /* Main Section */
  main {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding: 0 40px;
  }
  /*--------------------------- HEADER ---------------------------*/

  /*--------------------------- FOOTER ---------------------------*/
  footer {
    text-align: center;
    padding: 2px 0;
    background-color: #fff;
    color: #000;
  }
  
  footer img {
    height: 50px;
  }
   /*--------------------------- FOOTER ---------------------------*/